# Smart Contract Address on Polygon Amoy
VITE_CONTRACT_ADDRESS=0xcc7D54C0f4Ae273CD095f1BCbfC4F5AAc9C4a5e5

# Pinata IPFS API Credentials
VITE_PINATA_API_KEY=your_pinata_api_key_here
VITE_PINATA_API_SECRET=your_pinata_api_secret_here
VITE_PINATA_JWT=your_pinata_jwt_token_here
