# Dependencies
node_modules/

# Hardhat build artifacts & coverage
artifacts/
cache/
coverage/
coverage.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS system files
.DS_Store

# Temporary scripts
scratch/